[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/libgguf"]
	path = third_party/libgguf
	url = https://github.com/hlky/libgguf
